.thought, .said {
  margin: 10vh 0;
  display: block;
  box-sizing: border-box;
  min-height: 1px;
  max-width: 80%;
}

.said {
  font-size: 1.2em;
  text-transform: initial;
}

.thought {
  font-style: italic;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  text-align: right;
  margin-left: auto;
}

.thought.visible {
  opacity: .6;
}

.thought.staggered:nth-of-type(2) {
  transition-delay: .2s;
}

.thought.staggered:nth-of-type(3) {
  transition-delay: .4s;
}

.thought.staggered:nth-of-type(4) {
  transition-delay: .6s;
}

.thought.staggered:nth-of-type(5) {
  transition-delay: .8s;
}

.thought.staggered:nth-of-type(6) {
  transition-delay: 1s;
}

.thought:last-child, .said:last-child {
  margin-bottom: 30vh;
}

.thought.medium {
  font-size: 1.2em;
  text-align: center;
  max-width: 100%;
  margin-left: 0;
}

.thought.large {
  font-size: 1.4em;
  text-align: center;
  max-width: 100%;
  margin-left: 0;
}

.thought.large.visible {
  opacity: .8;
}

.thought.huge {
  font-size: 4em;
  text-align: center;
  max-width: 100%;
  margin-left: 0;
}

.thought.huge.visible {
  opacity: 1;
}

.space {
  min-height: 80vh;
}