.textarea {
  width: 100%;
  min-height: 200px;

  box-sizing: border-box;

  background: none;
  border: solid 1px gray;
  color: gray;
  border-radius: 5px;
}

.button {
  width: 100%;
  background: none;
  border: solid 1px gray;
  color: gray;
  padding: 8px;
  border-radius: 5px;
}

.status {
  color: gray;
}