.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container img.preview {
  z-index: 1;
  filter: blur(20px);
}

.container img.final {
  z-index: 2;
  opacity: 0;
  animation: fade-in .5s forwards;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}