.modalBackground {
  position: fixed;
  top: 0!important;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(0,0,0,.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein .5s;
  cursor: pointer;
  opacity: 1;
}

.modalContainer {
  padding: 0;
  position: relative;
  top: 0;
  opacity: 1;
  min-height: 200px;
  max-width: 700px;
  margin: 100px auto;
  width: calc(100vw - 100px);
  animation: fadein .2s;
  animation-delay: .2s;
  animation-fill-mode: backwards;
  overflow-y: auto;
  cursor: default;
}

.closing {
  opacity: 0;
  transition: opacity .2s;
}

@media (max-width: 600px) {
  .modalContainer {
    max-width: calc(100vw - 50px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    top: 20px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}