.post {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.date {
  width: 90px;
  text-align: right;
  margin-right: 8px;
  overflow-y: visible;
  margin-left: -10px;
}

.post > div {
  flex: 1;
}

.tags {
  display: block;
  font-style: italic;
  opacity: .4;
}

.tag:not(:last-child)::after {
  content: ', ';
}