.signature {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
}

.signature .tilde {
  font-size: 36px;
}

.signature svg {
  max-width: 100px;
  margin-top: 16px;
  margin-bottom: 36px;
  margin-right: 100px;
}

@media (max-width: 600px) {
  .signature svg {
    margin-right: 0;
  }
}